.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 7px;
  overflow: hidden;
  @media (max-width: 768px){
    flex-direction: column;
  }
  &__btn {
    width: 100%;
    background: #fff;
    border: 1px solid #dfe5ec;
    padding: 15px 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4a4a4a;
    transition: 0.3s ease;
    &--left {
      border-radius: 7px 0px 0px 7px;
      @media (max-width: 768px){
        border-radius: 7px 7px 0px 0px;
      }
    }
    &--right {
      border-radius: 0px 7px 7px 0px;
      @media (max-width: 768px){
        border-radius: 0px 0px 7px 7px;
      }
    }
    &.is-active {
      background: #2196f3;
      border: 1px solid #2196f3;
      color: #fff;
    }
  }
}
