.filter {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  @media (max-width: 768px){
    padding: 20px;
  }
  &__header {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4a4a4a;
    margin-bottom: 30px;
  }
  &__body {
    & > * {
      &:not(:last-child) {
        margin-bottom: 30px;
        @media (max-width: 768px){
          margin-bottom: 15px;
        }
      }
    }
  }
}
