.error-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 10px 0px;
  }
  button {
    border: none;
    padding: 10px;
    background-color: #2196f3;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}
